<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @environment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @environment.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @environment.color %>
</p>

<p>
  <strong>Url:</strong>
  <%= @environment.url %>
</p>

<%= link_to 'Edit', edit_environment_path(@environment) %> |
<%= link_to 'Back', environments_path %>
